[Unit]
Description=TUHUEBOT Go application
[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/www/wwwroot/tuhue.bot/tuhuebot
ExecStart=/www/wwwroot/tuhue.bot/tuhuebot/bin/tuhuebot
[Install]
WantedBy=multi-user.target
#Using Golang log instead of systemd
#StandardOutput=append:/var/log/tuhuebot.log
#StandardError=append:/var/log/tuhuebot-error.log